<div class="row">
    <div class="col-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>
            <div class="dropdown-menu">
                <li class="list-group-item">
                    <a (click)="onAddToShoppingList()" style="cursor: pointer;">
                        To Shopping List
                    </a>
                </li>
                <li class="list-group-item">
                    <a style="cursor: pointer;" (click)="onEditRecipe()" >
                        Edit Ingredient
                    </a>
                </li>
                <li class="list-group-item">
                    <a style="cursor: pointer;" (click)="onDeleteRecipe()">
                        Delete Recipe
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            {{ recipe.description }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-groupi">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
