<div class="row">
    <div class="col-12">
        <img src="{{ recipe.imagePath }}" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <div class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Ingredient</a></li>
                <li><a href="#">Delete Ingredient</a></li>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            {{ recipe.description }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            ingredients
        </p>
    </div>
</div>
